/************
COMMON
********/
body{
    font-family: "monospace",sans-serif;
}

.font-primary{
    color:aqua;
}

.title-icon{
    font-size: 20px;
    font-weight: bold;
}
/************
ABOUT
************/

#about{
    margin: 50px auto;
    max-width: 400px;
    text-align: center;
}

#about img{
    border-radius: 50%;
    width : 120px;
    margin-bottom: 10px;
}

#about .name{
    font-size: 15px;

}

#about .vocation{
    font-size: 17px;
    color: rgb(0, 255, 55);
    margin-bottom: 10px;

}

#about .skills{
    font-size: 14px;
    color: aquamarine;
    margin-bottom: 10px;
}

#about .email{
    margin-top: 14px;
    font-size: 14px;
} 

#about .icon{
    margin-top: 20px;
    font-size: 30px;
    
}
